<header id="header">
  <nav id="main-nav" class="navbar navbar-default navbar-fixed-top" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand slientLink" href="/"><span style="font-size: 35px;color: #FFF;line-height: 1em;font-weight: bold;">EraCord</span></a>
      </div>
    </div>
    <!--/.container-->
  </nav>
  <!--/nav-->
</header>
<div class="container">
  <h1>Register New Organisation</h1>
  <div class="col-sm-4" style="margin-bottom:50px;">
    <%= simple_form_for @register_organisation, :url => register_organisations_path  do |f| %>
    
    <%= f.input :name, placeholder: 'Name', required: true %>
    <%= f.input :email, placeholder: 'Name', required: true %>
    <%= f.input :mobile, placeholder: 'Name', required: true %>
    <%= f.input :short_name, placeholder: 'Name', required: true %>
    <%= f.input :user_email, placeholder: 'Name', required: true %>
    <div class="form-group email required temporary_organisation_user_email">
      <label class="email optional control-label" for="temporary_organisation_user_email">User Password</label>
      <%= password_field_tag :password, '' , class: "string email optional form-control", name: "temporary_organisation[password]", id: "temporary_organisation_user_password",  required: true%>
    </div>
    <%= f.button :submit, class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
