<header id="header">
  <nav id="main-nav" class="navbar navbar-default navbar-fixed-top" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand slientLink" href="/"><span style="font-size: 35px;color: #FFF;line-height: 1em;font-weight: bold;">EraCord</span></a>
      </div>
    </div>
    <!--/.container-->
  </nav>
  <!--/nav-->
</header>
<div class="container">
  <h1>New Organisation Sms Confirmation</h1>
  <div class="col-sm-12" style="padding-bottom:30px;">
    <div class="col-sm-4">
      Name
    </div>
    <div class="col-sm-8">
      <strong><%= @register_organisation.name %></strong>
    </div>
    <div class="col-sm-4">
      Email
    </div>
    <div class="col-sm-8">
      <strong><%= @register_organisation.email %></strong>
    </div>
    <div class="col-sm-4">
      Mobile
    </div>
    <div class="col-sm-8">
      <strong><%= @register_organisation.mobile %></strong>
    </div>
    <div class="col-sm-4">
      Short Name
    </div>
    <div class="col-sm-8">
      <strong><%= @register_organisation.short_name %></strong>
    </div>
  </div>
  <hr style="text-align:center; margin: 0 auto;width:80%;">
  <div class="col-sm-4" style="margin-top:30px;">
    <%= simple_form_for @register_organisation, :url => verify_confirmation_register_organisation_path(@register_organisation.id_hash), method: :post  do |f| %>
    <ul>
      <% @register_organisation.errors.full_messages.each do |msg| %>
      <li class="bg-danger"><%= msg %></li>
      <% end %>
    </ul>
    <div class="form-group email required temporary_organisation_user_email <%= 'has-error' if @register_organisation.errors.present? %>" >
      <label class="sms_code optional control-label" for="temporary_organisation_sms_code">Sms Code</label>
      <%= password_field_tag :sms_code, '' , class: "string email optional form-control", name: "temporary_organisation[sms_code]", id: "temporary_organisation_sms_code",  required: true %>
    </div>
    
    <%= f.button :submit, 'Verify Sms Code', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
